<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Receiver Register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="static/assets/orgreg/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="static/assets/orgreg/css/style.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<div class="image-holder">
					<img src="static/assets/orgreg/images/registration-form-6.jpg" alt="">
				</div>
				<form method="post">
					<h1>RECEIVER REGISTER</h1>
					<br> 
					<div class="form-row">
						<input type="text" name="fname" class="form-control" placeholder="First Name">
						<input type="text" name="lname" class="form-control" placeholder="Last Name">
						
					</div>
					<div class="form-row">
						<input type="text" name="hname" class="form-control" placeholder="House Name">
						<input type="text" name="place" class="form-control" placeholder="Place">
					</div>

					

					<div class="form-row">
						<input type="number" name="pin" class="form-control" placeholder="Pincode">
						<input type="number" name="phone" class="form-control" placeholder="Phone">
					</div>


					<div class="form-row">
						<input type="text" name="state" class="form-control" placeholder="State">
						<input type="text" name="mail" class="form-control" placeholder="Mail">
					</div>

					<div class="form-row">
						<input type="text" name="username" class="form-control" placeholder="Username">
						<input type="text" name="password" class="form-control" placeholder="Password">
					</div>
					<!-- <div class="form-row">
						<input type="text" class="form-control" placeholder="Phone">
						{ <div class="form-holder">
							<select name="" id="" class="form-control">
								<option value="" disabled selected>Choose Your Class</option>
								<option value="class 01">Class 01</option>
								<option value="class 02">Class 02</option>
								<option value="class 03">Class 03</option>
							</select>
							<i class="zmdi zmdi-chevron-down"></i> 
						</div> 
					</div> -->
					<input type="submit" class="_btn_04" name="submit" value="Login">
				</form>
				
			</div>
		</div>

		<script src="static/assets/orgreg/js/jquery-3.3.1.min.js"></script>
		<script src="static/assets/orgreg/js/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>